# Configuration file

####################
# both
#===================
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
####################

both {
    B:useMod=true
}


####################
# client
#===================
# Settings controlled client.
# Can vary from server to server.
####################

client {
    B:hasParticles=true
}


####################
# enchantments
#===================
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
####################

enchantments {
    B:Reading=true
    S:Reading-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=
    B:enchantment.key.lockpicking=true
    S:enchantment.key.lockpicking-ToolTip=
    B:enchantment.key.morphing=true
    S:enchantment.key.morphing-ToolTip=
    B:enchantment.key.unlocking=true
    S:enchantment.key.unlocking-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=
    B:enchantment.lock.persistance=true
    S:enchantment.lock.persistance-ToolTip=
    B:enchantment.lock.security=true
    S:enchantment.lock.security-ToolTip=
    B:enchantment.lock.shock=true
    S:enchantment.lock.shock-ToolTip=
    B:enchantment.lock.trigger=true
    S:enchantment.lock.trigger-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=
    B:enchantment.soulstealer=true
    S:enchantment.soulstealer-ToolTip=
    B:enchantment.tfFireReact=true
    S:enchantment.tfFireReact-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=
    B:enchantment.treecapitating=true
    S:enchantment.treecapitating-ToolTip=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=
}


####################
# ids
####################

ids {
    I:AdvancedEnchantmentTable=3050
    I:EnchantmentTableUpgradte=10205
}


####################
# server
#===================
# Settings controlled by server.
####################

server {
    B:AllowDisenchanting=true
    B:AllowEnchantDamaged=true
    B:AllowRepair=true
    I:CostFactor=5
    B:"Disenchant Unowned"=false
    I:RepairFactor=5
    B:hasLight=true
    I:minimumBook=5
    B:needsBookShelves=true
}


####################
# version
####################

version {
    S:SeenVersion=1.15.5
}


