# Configuration file

####################
# entitiesalwaysinfernal
####################

entitiesalwaysinfernal {
    B:"Blue Slime"=false
    B:"Cave Spider"=false
    B:Creeper=false
    B:Enderman=false
    B:FlameWraith=false
    B:Ghast=false
    B:HorseMob=false
    B:"King Spider"=false
    B:Kobold=false
    B:MiniGolem=false
    B:Minoshroom=false
    B:Minotaur=false
    B:"Mist Wolf"=false
    B:"Mosquito Swarm"=false
    B:Ogre=false
    B:Rat=false
    B:Redcap=false
    B:Scorpion=false
    B:SilverSkeleton=false
    B:Skeleton=false
    B:"Skeleton Druid"=false
    B:Slime=false
    B:Spider=false
    B:"Swarm Spider"=false
    B:WWolf=false
    B:Werewolf=false
    B:Witch=false
    B:Wraith=false
    B:Zombie=false
    B:"Zombie Pigman"=false
    B:entity.DimDoors.Monolith.name=false
    B:entity.Magical-Crops.ZombieFarmer.name=false
}


####################
# general
####################

general {
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDs=256,257,258,261,267,276,277,278,279,292,293,302,303,304,305,306,307,308,309,310,311,312,313,403

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=false
}


####################
# permittedentities
####################

permittedentities {
    B:"Blue Slime"=true
    B:"Cave Spider"=true
    B:Creeper=true
    B:Enderman=true
    B:FlameWraith=true
    B:Ghast=true
    B:HorseMob=true
    B:"King Spider"=true
    B:Kobold=true
    B:MiniGolem=true
    B:Minoshroom=true
    B:Minotaur=true
    B:"Mist Wolf"=true
    B:"Mosquito Swarm"=true
    B:Ogre=true
    B:Rat=true
    B:Redcap=true
    B:Scorpion=true
    B:SilverSkeleton=true
    B:Skeleton=true
    B:"Skeleton Druid"=true
    B:Slime=true
    B:Spider=true
    B:"Swarm Spider"=true
    B:WWolf=true
    B:Werewolf=true
    B:Witch=true
    B:Wraith=true
    B:Zombie=true
    B:"Zombie Pigman"=true
    B:entity.DimDoors.Monolith.name=true
    B:entity.Magical-Crops.ZombieFarmer.name=true
}


