# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
<<<<<<< HEAD
# Tue Aug 06 19:17:01 CDT 2013
=======
# Tue Aug 06 21:22:55 CDT 2013
>>>>>>> origin/dev-branch
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
updateTimeoutMilliseconds=1500
