# Configuration file

####################
# block
####################

block {
    # The block ID for the basic sensor block
    I:basicSensorBlockID=1542

    # The block ID for the gauge block
    I:gaugeBlockID=1140

    # The block ID for the sensor block
    I:sensorBlockID=1141
    I:sensorBlockRenderID=1142
}


####################
# general
####################

general {
    # Enable mod analytics
    B:enableAnalytics=true

    # Turtle Peripheral Enabled
    B:turtlePeripheralEnabled=true
}


####################
# item
####################

item {
    # The block ID for the sensor card
    I:sensorCardID=11115

    # The block ID for the generic item
    I:sensorUpgradeID=11116
}


