# Configuration file

####################
# block
#===================
# Set id to 0 to disable loading the block, add - in front of id to disable recipe only.
####################

block {
    I:chunkLoaderId=1422
}


####################
# general
#===================
# Disabling items/blocks only disables recipes.
####################

general {
    B:allowWRRemove=false
    B:chunkSight=true
    B:chunkSightAutorefresh=true

    # Range of chunk load boundaries.
    I:chunkSightRange=8
    B:enableTriggers=true

    # Default key to toggle chunk load boundaries.
    I:laserKeyChar=64

    # Percentage of power a power teleport pipe transmits. Between 0 and 100.
    I:powerLoss=90
}


####################
# item
#===================
# Set id to 0 to disable loading the item, add - in front of id to disable recipe only.
####################

item {
    I:pipeItemsAdvancedInsertionId=20170
    I:pipeItemsAdvancedWoodId=20171
    I:pipeItemsClosedId=20172
    I:pipeItemsDistributorId=20173
    I:pipeItemsRedStoneId=20174
    I:pipeItemsSwitchId=20175
    I:pipeItemsTeleportId=20176
    I:pipeLiquidsRedstoneId=20177
    I:pipeLiquidsSwitchId=20178
    I:pipeLiquidsTeleportId=20179
    I:pipeLiquidsWaterPumpId=20180
    I:pipePowerSwitchId=20181
    I:pipePowerTeleportId=20182
}


