# Configuration file

####################
# debugger
####################

debugger {
    B:debug_mode=false
}


####################
# metallurgy 3 base
####################

"metallurgy 3 base" {
    I:moltenAngmallen=2270
    I:moltenDamascusSteel=2271
    I:moltenHepatizon=2272
    I:moltenManganese=2273
}


####################
# metallurgy 3 end
####################

"metallurgy 3 end" {
    I:moltenDesichalkos=4088
    I:moltenEximite=4087
    I:moltenMeutoite=4086
}


####################
# metallurgy 3 fantasy
####################

"metallurgy 3 fantasy" {
    I:moltenAdamantine=2289
    I:moltenAstralSilver=4094
    I:moltenAtlarus=4093
    I:moltenBlackSteel=2292
    I:moltenCarmot=2293
    I:moltenCelenegil=2294
    I:moltenDeepIron=2295
    I:moltenHaderoth=2296
    I:moltenInfuscolium=2297
    I:moltenMithril=2298
    I:moltenOrichalcum=2299
    I:moltenOureclase=2300
    I:moltenPrometheum=4092
    I:moltenQuicksilver=4091
    I:moltenRubracium=4090
    I:moltenTartarite=4089
}


####################
# metallurgy 3 nether
####################

"metallurgy 3 nether" {
    I:moltenAlduorite=2277
    I:moltenAmordrine=2276
    I:moltenCeruclase=2278
    I:moltenIgnatius=2279
    I:moltenInolashite=2280
    I:moltenKalendrite=2281
    I:moltenLemurite=2282
    I:moltenMidasium=2283
    I:moltenSanguinite=2284
    I:moltenShadowIron=2285
    I:moltenShadowSteel=2286
    I:moltenVulcanite=2287
    I:moltenVyroxeres=2288
}


####################
# metallurgy 3 precious
####################

"metallurgy 3 precious" {
    I:moltenBrass=2274
    I:moltenPlatinum=4095
    I:moltenZinc=2275
}


####################
# parts
####################

parts {
    I:arrowhead=31735
    I:axeHead=31734
    I:battelSign=31733
    I:binding=31732
    I:chiselHead=31731
    I:chunk=31730
    I:crossbar=31729
    I:excavatorHead=31728
    I:frypanHead=31727
    I:fullGuard=31726
    I:hammerHead=31725
    I:knifeBlade=31724
    I:largeGuard=31723
    I:largeSwordBlade=31722
    I:largeplate=31721
    I:lumberaxeHead=31720
    I:mediumGuard=31719
    I:pickaxeHead=31718
    I:scytheHead=31717
    I:shovelHead=31716
    I:swordBlade=31715
    I:toolrod=31714
    I:toughbind=20022
    I:toughrod=20023
}


