# Configuration file

####################
# block
####################

block {
    I:peripherals.block.id=4068
    I:peripherals.lan-wire.id=4067
}


####################
# general
####################

general {
    B:autoAssign=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=false
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10
}


####################
# item
####################

item {
    I:peripherals.component=31690
    I:peripherals.magstripe=31691
    I:peripherals.rfid=31692
}


